@model EntranceControlWeb.Models.VisitorViewModel;
@{
    ViewData["Title"] = "Create Item";
}

<div class="container">
    <div class="row my-3">
        <h3 class="text-center"><strong>CИСТЕМА КОНТРОЛЯ ДОСТУПА</strong></h3>
        <h5 class="text-center">СОЗДАНИЕ ЗАПИСИ</h5>
    </div>
    <form class="my-4" method="post" asp-action="CreateVisit" asp-controller="Home" asp-antiforgery="true">
        <div class="card rounded">
            <div class="card-body">
                <div class="row mb-3">
                    <label for="inputTitle" class="col-sm-4 col-form-label">Фамилия</label>
                    <div class="col-sm-8">
                        <input type="text" asp-for="@Model.Surname" value="@Model?.Surname" class="form-control" id="inputTitle">
                        <span for="inputTitle" class="text-danger" asp-validation-for="@Model.Surname"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputTitle" class="col-sm-4 col-form-label">Имя</label>
                    <div class="col-sm-8">
                        <input type="text" asp-for="@Model.Name" value="@Model?.Name" class="form-control" id="inputTitle">
                        <span for="inputTitle" class="text-danger" asp-validation-for="@Model.Name"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputTitle" class="col-sm-4 col-form-label">Отчество</label>
                    <div class="col-sm-8">
                        <input type="text" asp-for="@Model.LastName" value="@Model?.LastName" class="form-control" id="inputTitle">
                        <span for="inputTitle" class="text-danger" asp-validation-for="@Model.LastName"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputTitle" class="col-sm-4 col-form-label">Мобильный телефон</label>
                    <div class="col-sm-8">
                        <input type="text" asp-for="@Model.MobilePhone" value="@Model?.MobilePhone" class="form-control" id="inputTitle">
                        <span for="inputTitle" class="text-danger" asp-validation-for="@Model.MobilePhone"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputTitle" class="col-sm-4 col-form-label">№ пропуска</label>
                    <div class="col-sm-8">
                        <input type="text" asp-for="@Model.IdPass" value="@Model?.IdPass" class="form-control" id="inputTitle">
                        <span for="inputTitle" class="text-danger" asp-validation-for="@Model.IdPass"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-7">
                        <a href="@Url.Action("Visitors", "Home")" type="button" class="btn btn-outline-primary">Назад</a>
                        <button type="submit" class="btn btn-outline-success">Сохранить изменения</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
