@model EntranceControlWeb.Models.StaffViewModel;
@{
    ViewData["Title"] = "Create Item";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="/img/icon.ico" sizes="64x64" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @*@await RenderSectionAsync("Scripts", required: false)*@
</head>
<body>
    <header>
        <nav class="navbar navbar-light sticky-top" style="background-color: #fbfeff">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-link text-primary">Аккаунт: @User.Identity.Name </a>
                }
                <a class="nav-link text-danger" asp-area="" asp-controller="Login" asp-action="LogOut">Выйти</a>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Навигация в системе</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Entrance">Доступ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Staff">Сотрудники</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Positions">Должности</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Offices">Отделы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="SortByOff">Распределение по отделам</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Rooms">Помещения</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Doors">Турникеты</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Levels">Настройка уровня доступа</a>
                            </li>


                        </ul>
                        <hr />
                        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action=".....">Личный кабинет</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="....">Руководство сотрудника</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="....">Руководство начальника</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="....">Руководство администратора</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-danger" asp-controller="Login" asp-action="LogOut">Выход</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>   
    <div class="container">
        <div class="row my-3">
            <h3 class="text-center"><strong>CИСТЕМА КОНТРОЛЯ ДОСТУПА</strong></h3>
            <h5 class="text-center">СОЗДАНИЕ ЗАПИСИ</h5>
        </div>
        <form class="my-4" method="post" asp-action="CreateStaff" asp-controller="Home" id="formStaff">
            <div class="card rounded">
                <div class="card-body">
                    <div class="row mb-3">
                        <label for="inputSurname" class="col-sm-4 col-form-label">Фамилия</label>
                        <div class="col-sm-8">
                            <input type="text" asp-for="@Model.Surname" value="@Model?.Surname" class="form-control" id="inputSurname">
                            <span for="inputTitle" class="text-danger" asp-validation-for="@Model.Surname"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputName" class="col-sm-4 col-form-label">Имя</label>
                        <div class="col-sm-8">
                            <input type="text" asp-for="@Model.Name" value="@Model?.Name" class="form-control" id="inputName">
                            <span for="inputTitle" class="text-danger" asp-validation-for="@Model.Name"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputLastname" class="col-sm-4 col-form-label">Отчество</label>
                        <div class="col-sm-8">
                            <input type="text" asp-for="@Model.LastName" value="@Model?.LastName" class="form-control" id="inputLastname">
                            <span for="inputTitle" class="text-danger" asp-validation-for="@Model.LastName"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputDate" class="col-sm-4 col-form-label">Дата рождения</label>
                        <div class="col-sm-8">
                            <input type="datetime" asp-for="@Model.Birthday" value="@Model?.Birthday" class="form-control" id="inputDate">
                            <span for="inputTitle" class="text-danger" asp-validation-for="@Model.Birthday"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail" class="col-sm-4 col-form-label">Корпоративная почта</label>
                        <div class="col-sm-8">
                            <input type="email" asp-for="@Model.CorpEmail" value="@Model?.CorpEmail" class="form-control" id="inputEmail">
                            <span for="inputTitle" class="text-danger" asp-validation-for="@Model.CorpEmail"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPhone" class="col-sm-4 col-form-label">Мобильный телефон</label>
                        <div class="col-sm-8">
                            <input type="tel" asp-for="@Model.MobPhone" value="@Model?.MobPhone" class="form-control" id="inputPhone">
                            <span for="inputTitle" class="text-danger" asp-validation-for="@Model.MobPhone"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="idRoom" class="col-sm-4 col-form-label">Уровень доступа</label>
                        <div class="col-sm-8">
                            <select name="idRoom" class="form-control" id="idRoom">

                                @foreach (var data in Model.Staffs)
                                {
                                    <option value="@data.IdLevel">@data.IdLevels.TitleLevel</option>
                                }

                            </select>
                            <span for="idRoom" class="text-danger" asp-validation-for="@Model.IdLevel"></span>
                            <span for="idRoom" class="text-danger" asp-validation-for="@Model.TitleLevel"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="formFile" class="col-sm-4 col-form-label">Выберите изображение</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="@Model.Image" value="@Model?.Image" type="text" id="formFile">
                            <span for="inputTitle" class="text-danger" asp-validation-for="@Model.Image"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-7">
                            <a href="@Url.Action("Staff", "Home")" type="button" class="btn btn-outline-primary">Назад</a>
                            <button type="submit" class="btn btn-outline-success">Сохранить изменения</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>




    </div>



</body>
</html>
