@model EntranceControlWeb.Models.SortingByOfficeViewModel;
@{
    ViewData["Title"] = "Create Item";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="/img/icon.ico" sizes="64x64" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @*@await RenderSectionAsync("Scripts", required: false)*@
</head>
<body>
    <header>
        <nav class="navbar navbar-light sticky-top" style="background-color: #fbfeff">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-link text-primary">Аккаунт: @User.Identity.Name </a>
                }
                <a class="nav-link text-danger" asp-area="" asp-controller="Login" asp-action="LogOut">Выйти</a>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Навигация в системе</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Entrance">Доступ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Staff">Сотрудники</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Positions">Должности</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Offices">Отделы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="SortByOff">Распределение по отделам</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Rooms">Помещения</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Doors">Турникеты</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Levels">Настройка уровня доступа</a>
                            </li>


                        </ul>
                        <hr />
                        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action=".....">Личный кабинет</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="....">Руководство сотрудника</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="....">Руководство начальника</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="....">Руководство администратора</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-danger" asp-controller="Login" asp-action="LogOut">Выход</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row my-3">
            <h3 class="text-center"><strong>CИСТЕМА КОНТРОЛЯ ДОСТУПА</strong></h3>
            <h5 class="text-center">СОЗДАНИЕ ЗАПИСИ</h5>
        </div>
        <form class="my-4" method="post" asp-action="CreateSort" asp-controller="Home">
            <div class="card rounded">
                <div class="card-body">
                    <div class="row mb-3">                       
                        <label for="inputDateBeg" class="col-sm-4 col-form-label">Время начала смены</label>
                        <div class="col-sm-8">
                            <input asp-for="@Model.TimeBegin" value="@Model?.TimeBegin" type="datetime" class="form-control" id="inputDateBeg">
                            <span for="inputTitle" class="text-danger" asp-validation-for="@Model.TimeBegin"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputDateEnd" class="col-sm-4 col-form-label">Время завершения смены</label>
                        <div class="col-sm-8">
                            <input asp-for="@Model.TimeEnd" value="@Model?.TimeEnd" type="datetime" class="form-control" id="inputDateEnd">
                            <span for="inputTitle" class="text-danger" asp-validation-for="@Model.TimeEnd"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="idStaff" class="col-sm-4 col-form-label">Сотрудник</label>
                        <div class="col-sm-8">
                            <select name="idStaff" class="form-control" id="inputIdStaff">

                                @foreach (var data in Model.Sortings)
                                {
                                    <option value="@data.IdStaff">@data.IdStaffs.Surname @data.IdStaffs.Name @data.IdStaffs.LastName</option>
                                }

                            </select>
                            <span for="inputTitle" class="text-danger" asp-validation-for="@Model.IdStaff"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="idPost" class=col-sm-4 col-form-label">Должность</label>
                        <div class="col-sm-8">
                            <select name="idPost" class="form-control" id="inputIdPost">

                                @foreach (var data in Model.Sortings)
                                {
                                    <option value="@data.IdPost">@data.IdPosts.TitlePost</option>
                                }

                            </select>
                            <span for="inputTitle" class="text-danger" asp-validation-for="@Model.IdPost"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="idOffice" class="col-sm-4 col-form-label">Отдел</label>
                        <div class="col-sm-8">
                            <select name="idOffice" class="form-control" id="inputIdOffice">

                                @foreach (var data in Model.Sortings)
                                {
                                    <option value="@data.IdOffice">@data.IdOffices.TitleOffice</option>
                                }

                            </select>
                            <span for="inputTitle" class="text-danger" asp-validation-for="@Model.IdOffice"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPhone" class="col-sm-4 col-form-label">Рабочий телефон</label>
                        <div class="col-sm-8">
                            <input type="tel" asp-for="@Model.WorkPhone" value="@Model?.WorkPhone" class="form-control" id="inputPhone">
                            <span for="inputTitle" class="text-danger" asp-validation-for="@Model.WorkPhone"></span>
                        </div>
                    </div>
                   
                    <div class="row mb-3">
                        <div class="col-5">
                            <a href="@Url.Action("SortByOff", "Home")" type="button" class="btn btn-outline-dark">Назад</a>
                            <button type="submit" class="btn btn-outline-primary">Сохранить изменения</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>




    </div>



</body>
</html>
