@model EntranceControlWeb.Models.AccessLevelViewModel;
@{
    ViewData["Title"] = "Create Item";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="/img/icon.ico" sizes="64x64" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @*@await RenderSectionAsync("Scripts", required: false)*@
</head>
<body>
    <header>
        <nav class="navbar navbar-light sticky-top" style="background-color: #fbfeff">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-link text-primary">Аккаунт: @User.Identity.Name </a>
                }
                <a class="nav-link text-danger" asp-area="" asp-controller="Login" asp-action="LogOut">Выйти</a>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Навигация в системе</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Entrance">Доступ</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole(UserRole.Admin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Staff">Сотрудники</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Positions">Должности</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Offices">Отделы</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="SortByOff">Распределение по отделам</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Rooms">Помещения</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Doors">Турникеты</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Levels">Настройка уровня доступа</a>
                                    </li>
                                }
                                else if (User.IsInRole(UserRole.SysAdmin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Staff">Сотрудники</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Positions">Должности</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Offices">Отделы</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="SortByOff">Распределение по отделам</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Rooms">Помещения</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Doors">Турникеты</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Levels">Настройка уровня доступа</a>
                                    </li>
                                }
                            }
                        </ul>
                        <hr />
                        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole(UserRole.User.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Cabinet" asp-action="UserCab">Личный кабинет</a>
                                    </li>
                                }
                                else if (User.IsInRole(UserRole.Admin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Cabinet" asp-action="AdminCab">Личный кабинет</a>
                                    </li>
                                }
                                else if (User.IsInRole(UserRole.SysAdmin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Cabinet" asp-action="SysAdminCab">Личный кабинет</a>
                                    </li>
                                }
                            }

                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole(UserRole.User.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="....">Руководство сотрудника</a>
                                    </li>
                                }
                                else if (User.IsInRole(UserRole.Admin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="....">Руководство начальника</a>
                                    </li>
                                }
                                else if (User.IsInRole(UserRole.SysAdmin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="....">Руководство администратора</a>
                                    </li>
                                }
                            }
                            <li class="nav-item">
                                <a class="nav-link active text-danger" asp-controller="Login" asp-action="LogOut">Выход</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row my-3">
            <h3 class="text-center"><strong>CИСТЕМА КОНТРОЛЯ ДОСТУПА</strong></h3>
            <h5 class="text-center">СОЗДАНИЕ ЗАПИСИ</h5>
        </div>
        <form class="my-4" method="post" asp-action="CreateLevel" asp-controller="Home">
            <div class="card rounded">
                <div class="card-body">
                    <div class="row mb-3">
                        <label for="inputTitle" class="col-sm-4 col-form-label">Наименование уровня доступа</label>
                        <div class="col-sm-8">
                           <input type="text" asp-for="@Model.TitleLevel" value="@Model?.TitleLevel" class="form-control" id="inputTitle">
                           <span for="inputTitle" class="text-danger" asp-validation-for="@Model.TitleLevel"></span>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-7">
                            <a href="@Url.Action("Levels", "Home")" type="button" class="btn btn-outline-primary">Назад</a>
                            <button type="submit" class="btn btn-outline-success">Сохранить изменения</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</body>
</html>