@model EntranceControlWeb.Models.SortingByOfficeViewModel;
@{
    ViewData["Title"] = "Create Item";
}

<div class="container">
    <div class="row my-3">
        <h3 class="text-center"><strong>CИСТЕМА КОНТРОЛЯ ДОСТУПА</strong></h3>
        <h5 class="text-center">СОЗДАНИЕ ЗАПИСИ</h5>
    </div>
    <form class="my-4" method="post" asp-action="CreateSort" asp-controller="Home">
        <div class="card rounded">
            <div class="card-body">
                <div class="row mb-3">
                    <label for="inputDateBeg" class="col-sm-4 col-form-label">Время начала смены</label>
                    <div class="col-sm-8">
                        <input asp-for="@Model.TimeBegin" value="@Model?.TimeBegin" type="time" class="form-control" id="inputDateBeg">
                        <span for="inputTitle" class="text-danger" asp-validation-for="@Model.TimeBegin"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputDateEnd" class="col-sm-4 col-form-label">Время завершения смены</label>
                    <div class="col-sm-8">
                        <input asp-for="@Model.TimeEnd" value="@Model?.TimeEnd" type="time" class="form-control" id="inputDateEnd">
                        <span for="inputTitle" class="text-danger" asp-validation-for="@Model.TimeEnd"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="idStaff" class="col-sm-4 col-form-label">Сотрудник</label>
                    <div class="col-sm-8">

                        @Html.DropDownListFor(x => x.IdStaff, Model.StaffSelect, new { @class = "form-control" })

                        <span for="inputTitle" class="text-danger" asp-validation-for="@Model.IdStaff"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="idPost" class=col-sm-4 col-form-label">Должность</label>
                    <div class="col-sm-8">

                        @Html.DropDownListFor(x => x.IdPost, Model.PostSelect, new { @class = "form-control" })

                        <span for="inputTitle" class="text-danger" asp-validation-for="@Model.IdPost"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="idOffice" class="col-sm-4 col-form-label">Отдел</label>
                    <div class="col-sm-8">

                        @Html.DropDownListFor(x => x.IdOffice, Model.OfficeSelect, new { @class = "form-control" })

                        <span for="inputTitle" class="text-danger" asp-validation-for="@Model.IdOffice"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputPhone" class="col-sm-4 col-form-label">Рабочий телефон</label>
                    <div class="col-sm-8">
                        <input type="tel" asp-for="@Model.WorkPhone" value="@Model?.WorkPhone" class="form-control" id="inputPhone">
                        <span for="inputTitle" class="text-danger" asp-validation-for="@Model.WorkPhone"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-5">
                        <a href="@Url.Action("SortByOff", "Home")" type="button" class="btn btn-outline-dark">Назад</a>
                        <button type="submit" class="btn btn-outline-primary">Сохранить изменения</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

