@model EntranceControlWeb.Models.DoorViewModel;
@{
    ViewData["Title"] = "Doors";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*@await RenderSectionAsync("Scripts", required: false)*@
</head>
<body>
    <header>
        <nav class="navbar navbar-light sticky-top" style="background-color: #fbfeff">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (User.Identity.IsAuthenticated)
                {
            <a class="nav-link text-primary">Аккаунт: @User.Identity.Name </a>
                }
                <a class="nav-link text-danger" asp-area="" asp-controller="Login" asp-action="LogOut">Выйти</a>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Навигация в системе</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Entrance">Доступ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Staff">Сотрудники</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Positions">Должности</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Offices">Отделы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="SortByOff">Распределение по отделам</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Rooms">Помещения</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Doors">Турникеты</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Levels">Настройка уровня доступа</a>
                            </li>


                        </ul>
                        <hr />
                        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action=".....">Личный кабинет</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="....">Руководство сотрудника</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="....">Руководство начальника</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="....">Руководство администратора</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-danger" asp-controller="Home" asp-action="....">Выход</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row my-3">
            <h3 class="text-center"><strong>CИСТЕМА КОНТРОЛЯ ДОСТУПА</strong></h3>
            <h5 class="text-center">ТУРНИКЕТЫ</h5>
        </div>
        <div class="row my-3">
            <table class="table-dark table-bordered" style="width:1200px; color:black;">
                <thead>
                    <tr class="text-center">
                        <th>ID Турникет</th>
                        <th>Наименование турникета</th>
                        <th>Помещение</th>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole(UserRole.Admin.ToString()))
                            {
                                <th>Действия</th>
                            }
                            else if (User.IsInRole(UserRole.SysAdmin.ToString()))
                            {
                                <th>Действия</th>
                            }
                        }
                    </tr>
                </thead>

                @foreach (var data in Model.Doors)
                {
                    <tbody>
                        <tr class="text-md-start">

                            <td>@data.IdDoor</td>
                            <td>@data.TitleDoor</td>
                            <td>@data.IdRooms.TitleRoom</td>

                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole(UserRole.Admin.ToString()))
                                {
                                    <td>
                                        <a href="@Url.Action("DoorEdit", "Home", new { id = @data.IdDoor })" class="text-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Редактировать</a>
                                        <a href="@Url.Action("DelDoor", "Home", new { id = @data.IdDoor })" class="text-danger" data-bs-toggle="modal" data-bs-target="#exampleModal1">Удалить</a>
                                    </td>

                                }
                                else if (User.IsInRole(UserRole.SysAdmin.ToString()))
                                {
                                    <td>
                                        <a href="@Url.Action("", new { id = @data.IdDoor })" class="text-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Редактировать</a>
                                        <a href="@Url.Action("", new { id = @data.IdDoor })" class="text-danger" data-bs-toggle="modal" data-bs-target="#exampleModal1">Удалить</a>
                                    </td>
                                }
                            }

                        </tr>
                    </tbody>
                }

            </table>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    @{Html.RenderPartial("DoorEdit"); }
                </div>
            </div>


                    @*Modal*@
                    <!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">-->
                            @*<div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Редактировать информацию</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form method="post" asp-action="DoorEdit" asp-controller="Home">
                                    <div class="modal-body">
                                        <div class="row mb-3">
                                            <div class="col-sm-8">
                                                <input hidden type="text" asp-for="@Model.IdDoor" class="form-control" id="inputTitle1" value="@Model?.IdDoor" name="IdDoor" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="inputTitle" class="col-sm-4 col-form-label">Наименование турникета</label>
                                            <div class="col-sm-8">
                                                <input type="text" asp-for="@Model.TitleDoor" class="form-control" id="inputTitle" value="@Model?.TitleDoor" name="TitleDoor">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-8">
                                                <input hidden type="text" asp-for="@Model.IdRoom" class="form-control" id="inputTitle2" value="@Model?.IdRoom" readonly name="IdRoom">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="exampleDataList2" class="col-sm-4 col-form-label">Помещение</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" asp-for="@Model.TitleRoom" list="datalistOptions2" id="exampleDataList2" placeholder="Нажмите для выбора...." value="@Model?.TitleRoom" name="TitleRoom">
                                                <datalist id="datalistOptions2">
                                                    @foreach (var data in Model.Doors)
                                                    {
                                                        <option value="@data.IdRooms.TitleRoom" />
                                                    }

                                                </datalist>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Отмена</button>
                                        <button type="submit" class="btn btn-success">Сохранить</button>
                                    </div>
                                </form>
                            </div>*@
                        <!--</div>
                    </div>-->

                    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel1">Подтвердите действие на сайте</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <h5 class="text-center">
                                            Вы действительно хотите удалить выбранную строку?
                                            <br />Подтверждение данного действия приведет к удалению информации из базы данных
                                        </h5>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Отмена</button>
                                    <a href="@Url.Action("DelDoor", "Home")" type="button" class="btn btn-danger">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
</body>
</html>