@model EntranceControlWeb.Models.EntranceViewModel;
@{
    ViewData["Title"] = "Entrance";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="/img/icon.ico" sizes="64x64" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <script src="~/js/bootstrap.bundle.min.js"></script>    
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*@await RenderSectionAsync("Scripts", required: false)*@
</head>
<body>
    <header>
        <nav class="navbar navbar-light sticky-top" style="background-color: #fbfeff">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-link text-primary">Аккаунт: @User.Identity.Name </a>
                }
                <a class="nav-link text-danger" asp-area="" asp-controller="Login" asp-action="LogOut">Выйти</a>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Навигация в системе</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Entrance">Доступ</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole(UserRole.Admin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Staff">Сотрудники</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Positions">Должности</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Offices">Отделы</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="SortByOff">Распределение по отделам</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Visitors">Посетители</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Rooms">Помещения</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Doors">Турникеты</a>
                                    </li>
                                  
                                }
                                else if (User.IsInRole(UserRole.SysAdmin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Staff">Сотрудники</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Positions">Должности</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Offices">Отделы</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="SortByOff">Распределение по отделам</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Visitors">Посетители</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Rooms">Помещения</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Doors">Турникеты</a>
                                    </li>
                                   
                                }
                            }
                        </ul>
                        <hr />
                        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole(UserRole.User.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Cabinet" asp-action="UserCab">Личный кабинет</a>
                                    </li>
                                }
                                else if (User.IsInRole(UserRole.Admin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Cabinet" asp-action="AdminCab">Личный кабинет</a>
                                    </li>
                                }
                                else if (User.IsInRole(UserRole.SysAdmin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Cabinet" asp-action="SysAdminCab">Личный кабинет</a>
                                    </li>
                                }
                            }

                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole(UserRole.User.ToString()))
                                {
                                    <li class="nav-item" style="position: relative; left: 950px">
                                        <a class="nav-link active" href="~/RukUser.pdf" target="_blank">Руководство пользователя</a>
                                    </li>
                                }
                                else if (User.IsInRole(UserRole.Admin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" href="~/RukAdmin.pdf" target="_blank">Руководство начальника</a>
                                    </li>
                                }
                                else if (User.IsInRole(UserRole.SysAdmin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" href="~/RukSysAdmin.pdf" target="_blank">Руководство администратора</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Passes">Картотека пропусков</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Dictionary">Редактировать справочники</a>
                                    </li>
                                }
                            }
                            <li class="nav-item">
                                <a class="nav-link active text-danger" asp-controller="Login" asp-action="LogOut">Выход</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row my-3">
            <h3 class="text-center"><strong>CИСТЕМА КОНТРОЛЯ ДОСТУПА</strong></h3>
            <h5 class="text-center">ДОСТУП</h5>
        </div>
        <div class="row mx-auto" style="width:1200px">
            <div class="accordion accordion-flush" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed border-info shadow" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Настроить фильтры
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <form>
                            <div class="accordion-body border-info shadow">
                                <div class="row mb-3">
                                    <label for="DateEntr" class="col-sm-4 col-form-label">Дата входа</label>
                                    <div class="col-sm-8">
                                        @Html.TextBox("Search1", "", new { @class = "form-control", @placeholder = "Поиск", @type = "datetime" })
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="DateExit" class="col-sm-4 col-form-label">Дата выхода</label>
                                    <div class="col-sm-8">
                                        @Html.TextBox("Search2", "", new { @class = "form-control", @placeholder = "Поиск", @type = "datetime" })
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="idRoom" class="col-sm-4 col-form-label">Помещение</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(x => x.IdRoom, Model.RoomSelect, "", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="idPass" class="col-sm-4 col-form-label">№ пропуска</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(x => x.IdPass, Model.PassSelect, "", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="idDoor" class="col-sm-4 col-form-label">Турникет</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(x => x.IdDoor, Model.DoorSelect, "", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="idStatus" class="col-sm-4 col-form-label">Статус доступа</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(x => x.IdStatus, Model.StatSelect, "", new { @class = "form-control" })                                        
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="button" class="col-sm-8 col-form-label"></label>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-outline-primary">Фильтровать</button>                                        
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            <div class="row my-3">
                <table class="table-dark table-bordered mx-auto" style="width:1200px; color:black;">
                    <thead>
                        <tr class="text-center">
                            <th>@Html.ActionLink("ID Запись", "Entrance", new { sort = ViewBag.IdSort }) </th>
                            <th>@Html.ActionLink("Дата входа", "Entrance", new { sort = ViewBag.DateEntrSort }) </th>
                            <th>Дата выхода </th>
                            <th>@Html.ActionLink("Помещение", "Entrance", new { sort = ViewBag.RoomSort }) </th>
                            <th>№ пропуска</th>
                            <th>@Html.ActionLink("Турникет", "Entrance", new { sort = ViewBag.DoorSort }) </th>
                            <th>Статус доступа</th>
                        </tr>
                    </thead>

                    @foreach (var data in Model.Entrances)
                    {
                        <tbody>
                            <tr class="text-md-start">

                                <td>@data.IdRecord</td>
                                <td>@data.DateEntr</td>
                                <td>@data.DateExit</td>
                                <td>@data.IdRooms.TitleRoom</td>
                                <td>@data.IdPass</td>
                                <td>@data.IdDoors.TitleDoor</td>
                                <td>@data.IdStatuses.TitleStatus</td>
                            </tr>
                        </tbody>
                    }
                </table>

                @*<script>
                    $('.editClick').on('click', function () {
                        // ...
                        console.log('edit clicked');
                        const staffId = $(this).data('id');
                        // обращение на сервер
                        $.get('/Home/ViewStaff/' + staffId, function (result) {
                            // результат содержит данные о двери
                            $('#exampleModal #inputId').val(result.idStaff);
                            $('#exampleModal #inputSurname').val(result.surname);
                            $('#exampleModal #inputName').val(result.name);
                            $('#exampleModal #inputLastName').val(result.lastName);
                            $('#exampleModal #inputBirthday').val(result.birthday);
                            $('#exampleModal #inputCorpEmail').val(result.corpEmail);
                            $('#exampleModal #inputMobPhone').val(result.mobPhone);
                            $('#exampleModal #imgstaff').val(result.image);
                        });

                    });

                </script>*@

                <!-- Modal -->
                @*<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Карточка сотрудника</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="image" src="@Model.Image" class="img-fluid" id="imgstaff" asp-for="@Model.Image" value="@Model.Image"/>
                                        <img src="@Model.Image" class="img-fluid" id="imgstaff"/>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="text-start" for="inputSurname"> Фамилия: </label>
                                                <input hidden type="text" asp-for="@Model.IdStaff" class="form-control" id="inputId" value="@Model?.IdStaff" readonly>
                                            </div>
                                            <div class="col-6">
                                                <input type="text" asp-for="@Model.Surname" class="border-0" style="width: 157px" id="inputSurname" value="@Model?.Surname" readonly/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="text-start" for="inputName"> Имя: </label>
                                            </div>
                                            <div class="col-6">
                                                <input type="text" asp-for="@Model.Name" class="border-0" style="width: 157px" id="inputName" value="@Model?.Name" readonly/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="text-start" for="inputLastName"> Отчество: </label>
                                            </div>
                                            <div class="col-6">
                                                <input type="text" asp-for="@Model.LastName" class="border-0" style="width: 157px" id="inputLastName" value="@Model?.LastName" readonly/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="text-start" for="inputBirthday"> Дата рождения: </label>
                                            </div>
                                            <div class="col-6">
                                                <input type="datetime" asp-for="@Model.Birthday" class="border-0" style="width: 157px" id="inputBirthday" value="@Model?.Birthday" readonly />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="text-start" for="inputCorpEmail">  Корпоративная почта: </label>
                                            </div>
                                            <div class="col-6">
                                                <input type="text" asp-for="@Model.CorpEmail" class="border-0" style="width: 157px" id="inputCorpEmail" value="@Model?.CorpEmail" readonly/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="text-start" for="inputMobPhone"> Мобильный телефон:  </label>
                                            </div>
                                            <div class="col-6">
                                                <input type="text" asp-for="@Model.MobPhone" class="border-0" style="width: 157px" id="inputMobPhone" value="@Model?.MobPhone" readonly/>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Закрыть</button>

                            </div>
                        </div>
                    </div>
                </div>*@

            </div>
        </div>
</body>
</html>