@model EntranceControlWeb.Models.EntranceViewModel;
@{
    ViewData["Title"] = "Entrance";

}
<div class="container">
    <div class="row my-3">
        <h3 class="text-center"><strong>CИСТЕМА КОНТРОЛЯ ДОСТУПА</strong></h3>
        <h5 class="text-center">ДОСТУП</h5>
    </div>
    <div class="row mx-auto" style="width:1200px">
        <div class="accordion accordion-flush" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed border-info shadow" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Настроить фильтры
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <form>
                        <div class="accordion-body border-info shadow">
                            <div class="row mb-3">
                                <label for="DateEntr" class="col-sm-4 col-form-label">Дата входа</label>
                                <div class="col-sm-8">
                                    @Html.TextBox("Search1", "", new { @class = "form-control", @placeholder = "Поиск", @type = "datetime" })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="DateExit" class="col-sm-4 col-form-label">Дата выхода</label>
                                <div class="col-sm-8">
                                    @Html.TextBox("Search2", "", new { @class = "form-control", @placeholder = "Поиск", @type = "datetime" })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="idRoom" class="col-sm-4 col-form-label">Помещение</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(x => x.IdRoom, Model.RoomSelect, "", new { @class = "form-control", data_val = false })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="idPass" class="col-sm-4 col-form-label">№ пропуска</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(x => x.IdPass, Model.PassSelect, "", new { @class = "form-control", data_val = false })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="idDoor" class="col-sm-4 col-form-label">Турникет</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(x => x.IdDoor, Model.DoorSelect, "", new { @class = "form-control", data_val = false })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="idStatus" class="col-sm-4 col-form-label">Статус доступа</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(x => x.IdStatus, Model.StatSelect, "", new { @class = "form-control", data_val = false })
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="button" class="col-sm-8 col-form-label"></label>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-outline-primary">Фильтровать</button>
                                </div>
                                <div class="col-sm-2">
                                    <input type="submit" class="btn btn-outline-danger" formaction="ClearEntr" value="Сбросить фильтры" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <table class="table-dark table-bordered mx-auto" style="width:1200px; color:black;">
            <thead>
                <tr class="text-center">
                    <th>@Html.ActionLink("ID Запись", "Entrance", new { sort = ViewBag.IdSort }) </th>
                    <th>@Html.ActionLink("Дата входа", "Entrance", new { sort = ViewBag.DateEntrSort }) </th>
                    <th>Дата выхода </th>
                    <th>@Html.ActionLink("Помещение", "Entrance", new { sort = ViewBag.RoomSort }) </th>
                    <th>№ пропуска</th>
                    <th>@Html.ActionLink("Турникет", "Entrance", new { sort = ViewBag.DoorSort }) </th>
                    <th>Статус доступа</th>
                </tr>
            </thead>

            @foreach (var data in Model.Entrances)
            {
                <tbody>
                    <tr class="text-md-start">

                        <td>@data.IdRecord</td>
                        <td>@data.DateEntr</td>
                        <td>@data.DateExit</td>
                        <td>@data.IdRooms.TitleRoom</td>
                        <td>@data.IdPass</td>
                        <td>@data.IdDoors.TitleDoor</td>
                        <td>@data.IdStatuses.TitleStatus</td>
                    </tr>
                </tbody>
            }
        </table>       
    </div>
</div>
