@model EntranceControlWeb.Models.PassesViewModel;
@{
    ViewData["Title"] = "Passes";

}
<div class="container">
    <div class="row my-3">
        <h3 class="text-center"><strong>CИСТЕМА КОНТРОЛЯ ДОСТУПА</strong></h3>
        <h5 class="text-center">КАРТОТЕКА ПРОПУСКОВ</h5>
    </div>
    <div class="row mx-auto" style="width:1200px">
        <div class="accordion accordion-flush" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed border-info shadow" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Настроить фильтры
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <form>
                        <div class="accordion-body border-info shadow">
                            <div class="row mb-3">
                                <label for="idRoom" class="col-sm-4 col-form-label">№ пропуска</label>
                                <div class="col-sm-8">

                                    @Html.TextBox("Search", "", new { @class = "form-control", @placeholder = "Поиск" })

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="idRoom" class="col-sm-4 col-form-label">Длительность</label>
                                <div class="col-sm-8">

                                    @Html.DropDownListFor(x => x.IdLong, Model.LongSelect, "", new { @class = "form-control", data_val = false })

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="idPass" class="col-sm-4 col-form-label">Статус активности</label>
                                <div class="col-sm-8">

                                    @Html.DropDownListFor(x => x.IdActiv, Model.ActivSelect, "", new { @class = "form-control", data_val = false })

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="idDoor" class="col-sm-4 col-form-label">Уровень доступа</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(x => x.IdLevel, Model.LevelSelect, "", new { @class = "form-control", data_val = false })
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="button" class="col-sm-8 col-form-label"></label>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-outline-primary">Фильтровать</button>
                                </div>
                                <div class="col-sm-2">
                                    <input type="submit" class="btn btn-outline-danger" formaction="ClearPass" value="Сбросить фильтры" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3">

        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole(UserRole.SysAdmin.ToString()))
            {
                <div class="row mb-2">

                    <div class=" mx-auto" style="width:800px"> <a href="@Url.Action("CreatePass", "Home")" class="btn btn-outline-primary" style="width: 100%">Создать запись</a></div>

                </div>
            }
        }

        <table class="table-dark table-bordered mx-auto" style="width:1200px; color:black;">
            <thead>
                <tr class="text-center">
                    <th>№ пропуска</th>
                    <th>Длительность</th>
                    <th>Статус активности</th>
                    <th>Уровень доступа</th>

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole(UserRole.SysAdmin.ToString()))
                        {
                            <th>Действия</th>
                        }
                        else if (User.IsInRole(UserRole.Admin.ToString()))
                        {
                            <th>Действия</th>
                        }
                    }
                </tr>
            </thead>

            @foreach (var data in Model.Passes)
            {
                <tbody>
                    <tr class="text-md-start">
                        <td>@data.IdPass</td>
                        <td>@data.IdLongs.TitleLong</td>
                        <td>@data.IdActivs.TitleActiv</td>
                        <td>@data.IdLevels.TitleLevel</td>

                        @if (User.Identity.IsAuthenticated)
                        {

                            if (User.IsInRole(UserRole.SysAdmin.ToString()))
                            {
                                <td>
                                    <a href="@Url.Action("PassEdit", "Home", new { id = @data.IdPass })" class="text-success editClick" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="@data.IdPass">Редактировать</a>
                                    <a href="@Url.Action("DelPass", "Home", new { id = @data.IdPass})" class="text-danger" data-id="@data.IdPass">Удалить</a>
                                </td>
                            }
                            else if (User.IsInRole(UserRole.Admin.ToString()))
                            {
                                <td>
                                    <a href="@Url.Action("PassEdit", "Home", new { id = @data.IdPass})" class="text-success editClick" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="@data.IdPass">Редактировать</a>

                                </td>
                            }
                        }
                    </tr>
                </tbody>
            }
        </table>
        <div class="row my-1">
            <h6 class="text-center text-danger"><strong> @ViewBag.Message</strong></h6>
        </div>

        <script>
            $('.editClick').on('click', function () {
                // ...
                console.log('edit clicked');
                const visId = $(this).data('id');
                // обращение на сервер
                $.get('/Home/PassEdit/' + visId, function (result) {
                    // результат содержит данные о госте
                    $('#exampleModal #inputTitle').val(result.idPass);
                    $('#exampleModal #inputTitle1').val(result.idLong);
                    $('#exampleModal #inputTitle2').val(result.idActiv);
                    $('#exampleModal #inputTitle3').val(result.idLevel);
                });

            });

        </script>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Редактировать информацию</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" asp-action="PassEdit" asp-controller="Home">
                        <div class="modal-body">
                            <div class="row mb-3">
                                <label for="#inputTitle" class="col-sm-4 col-form-label">№ пропуска</label>
                                <div class="col-sm-8">
                                    <input readonly asp-for="@Model.IdPass" value="@Model?.IdPass" type="text" class="form-control" id="inputTitle">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="#inputTitle1" class="col-sm-4 col-form-label">Длительность</label>
                                <div class="col-sm-8">

                                    @Html.DropDownListFor(x => x.IdLong, Model.LongSelect, new { @class = "form-control", @id = "inputTitle1", @value = "IdLong", @for = "IdLong" })

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="#inputTitle2" class="col-sm-4 col-form-label">Статус активности</label>
                                <div class="col-sm-8">

                                    @Html.DropDownListFor(x => x.IdActiv, Model.ActivSelect, new { @class = "form-control", @id = "inputTitle2", @value = "IdActiv", @for = "IdActiv" })

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="#inputTitle3" class="col-sm-4 col-form-label">Уровень доступа</label>
                                <div class="col-sm-8">

                                    @Html.DropDownListFor(x => x.IdLevel, Model.LevelSelect, new { @class = "form-control", @id = "inputTitle3", @value = "IdLevel", @for = "IdLevel" })

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
