@model EntranceControlWeb.Models.StaffViewModel;
@{
    ViewData["Title"] = "Staff";

}

<div class="container">
    <div class="row my-3">
        <h3 class="text-center"><strong>CИСТЕМА КОНТРОЛЯ ДОСТУПА</strong></h3>
        <h5 class="text-center">СОТРУДНИКИ</h5>
    </div>
    <div class="row my-3 mb-2 sticky-top">
        <form asp-action="Staff" asp-controller="Home">
            <div class="card rounded m-3 shadow-lg mx-auto" style="width:500px">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2 text-end">
                            <label>ФИО:</label>
                        </div>
                        <div class="col-6">
                            @Html.TextBox("Search", "", new { @class = "form-control", @placeholder = "Поиск" })
                        </div>
                        <div class="col-4 mx-auto">
                            <button type="submit" class="btn btn-outline-info">Поиск</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row my-3 mb-2">

        @foreach (var data in Model.Staffs)
        {

            <div class="card rounded m-3 shadow-lg mx-auto">
                <div class="row g-0">
                    <div class="col-md-3">
                        <img src="@data.Image" class="img-fluid rounded-start m-2" style="width: 200px; height: 200px">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body" style="font-size: 17px">
                            <div class="row">
                                <div class="col-8">
                                    <input hidden type="text" asp-for="@Model.IdStaff" class="form-control" id="inputIdStaff" value="@Model?.IdStaff" readonly>
                                    <div class="row">
                                        ФИО: @data.Surname @data.Name @data.LastName
                                    </div>
                                    <div class="row">
                                        Дата рождения: @data.Birthday
                                    </div>
                                    <div class="row">
                                        Корпоративная почта: @data.CorpEmail
                                    </div>
                                    <div class="row">
                                        Мобильный телефон: @data.MobPhone
                                    </div>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        if (User.IsInRole(UserRole.SysAdmin.ToString()))
                                        {
                                            <div class="row">
                                                № пропуска:<a href="@Url.Action("PassEditStaff", "Home", new { id = @data.IdPass })" class="text-primary editClick" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="@data.IdPass">@data.IdPass</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                № пропуска: @data.IdPass
                                            </div>
                                        }

                                    }


                                </div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (User.IsInRole(UserRole.SysAdmin.ToString()))
                                    {
                                        <div class="col-4">
                                            <div class="row my-1">
                                                <a class="btn btn-outline-success" data-id="@data.IdStaff" href="@Url.Action("StaffEdit", "Home", new { id = @data.IdStaff })">Редактировать</a> <br />

                                            </div>
                                            <div class="row my-1">

                                                <a class="btn btn-outline-danger" data-id="@data.IdStaff" href="@Url.Action("DelStaff", "Home", new { id = @data.IdStaff })">Удалить запись</a>
                                            </div>
                                            <div class="row my-1">

                                                <a href="@Url.Action("CreateStaff", "Home")" class="btn btn-outline-primary">Создать запись</a>
                                            </div>
                                        </div>
                                    }
                                    else if (User.IsInRole(UserRole.Admin.ToString()))
                                    {
                                        <div class="col-4">
                                            <div class="row my-1">
                                                <a class="btn btn-outline-success" data-id="@data.IdStaff" href="@Url.Action("StaffEdit", "Home", new { id = @data.IdStaff })">Редактировать</a> <br />

                                            </div>
                                        </div>
                                    }

                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
        <script>
            $('.editClick').on('click', function () {
                // ...
                console.log('edit clicked');
                const visId = $(this).data('id');
                // обращение на сервер
                $.get('/Home/PassEditStaff/' + visId, function (result) {
                    // результат содержит данные о госте
                    $('#exampleModal #inputTitle').val(result.idPass);
                    $('#exampleModal #inputTitle1').val(result.idLong);
                    $('#exampleModal #inputTitle2').val(result.idActiv);
                    $('#exampleModal #inputTitle3').val(result.idLevel);
                });

            });

        </script>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Редактировать информацию</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" asp-action="PassEditStaff" asp-controller="Home">
                        <div class="modal-body">
                            <div class="row mb-3">
                                <label for="#inputTitle" class="col-sm-4 col-form-label">№ пропуска</label>
                                <div class="col-sm-8">
                                    <input readonly asp-for="@Model.IdPass" value="@Model?.IdPass" type="text" class="form-control" id="inputTitle">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="#inputTitle1" class="col-sm-4 col-form-label">Длительность</label>
                                <div class="col-sm-8">

                                    @Html.DropDownListFor(x => x.IdLong, Model.LongSelect, new { @class = "form-control", @id = "inputTitle1", @value = "IdLong", @for = "IdLong" })

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="#inputTitle2" class="col-sm-4 col-form-label">Статус активности</label>
                                <div class="col-sm-8">

                                    @Html.DropDownListFor(x => x.IdActiv, Model.ActivSelect, new { @class = "form-control", @id = "inputTitle2", @value = "IdActiv", @for = "IdActiv" })

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="#inputTitle3" class="col-sm-4 col-form-label">Уровень доступа</label>
                                <div class="col-sm-8">

                                    @Html.DropDownListFor(x => x.IdLevel, Model.LevelSelect, new { @class = "form-control", @id = "inputTitle3", @value = "IdLevel", @for = "IdLevel" })

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
