@model EntranceControlWeb.Models.EntranceViewModel;
@{
    ViewData["Title"] = "Cabinet";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="/img/icon.ico" sizes="64x64" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @*@await RenderSectionAsync("Scripts", required: false)*@
</head>
<body>
    <header>
        <nav class="navbar navbar-light sticky-top" style="background-color: #fbfeff">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-link text-primary">Аккаунт: @User.Identity.Name </a>
                }
                <a class="nav-link text-danger" asp-area="" asp-controller="Login" asp-action="LogOut">Выйти</a>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Навигация в системе</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Entrance">Доступ</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole(UserRole.Admin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Staff">Сотрудники</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Positions">Должности</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Offices">Отделы</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="SortByOff">Распределение по отделам</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Rooms">Помещения</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Doors">Турникеты</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Levels">Настройка уровня доступа</a>
                                    </li>
                                }
                                else if (User.IsInRole(UserRole.SysAdmin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Staff">Сотрудники</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Positions">Должности</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Offices">Отделы</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="SortByOff">Распределение по отделам</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Rooms">Помещения</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Doors">Турникеты</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Levels">Настройка уровня доступа</a>
                                    </li>
                                }
                            }
                        </ul>
                        <hr />
                        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole(UserRole.User.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Cabinet" asp-action="UserCab">Личный кабинет</a>
                                    </li>
                                }
                                else if (User.IsInRole(UserRole.Admin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Cabinet" asp-action="AdminCab">Личный кабинет</a>
                                    </li>
                                }
                                else if (User.IsInRole(UserRole.SysAdmin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Cabinet" asp-action="SysAdminCab">Личный кабинет</a>
                                    </li>
                                }
                            }

                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole(UserRole.User.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="....">Руководство сотрудника</a>
                                    </li>
                                }
                                else if (User.IsInRole(UserRole.Admin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="....">Руководство начальника</a>
                                    </li>
                                }
                                else if (User.IsInRole(UserRole.SysAdmin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="....">Руководство администратора</a>
                                    </li>
                                }
                            }

                            <li class="nav-item">
                                <a class="nav-link active text-danger" asp-controller="Login" asp-action="LogOut">Выход</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row my-3">
            <h3 class="text-center"><strong>CИСТЕМА КОНТРОЛЯ ДОСТУПА</strong></h3>
            <h5 class="text-center">ЛИЧНЫЙ КАБИНЕТ НАЧАЛЬНИКА ОХРАНЫ</h5>
        </div>
        <div class="row my-2">
            @if (User.Identity.IsAuthenticated)
            {
                <p>
                    Вы вошли под логином @User.Identity.Name.

                </p>
                <p>
                    Роль на сайте: адмиистратор.
                </p>
            }
        </div>
        <form method="post" asp-action="EntranceReport" asp-controller="Cabinet">
            <div class="row my-2">
                <div class="row my-3" hidden>
                    <table class="table-dark table-bordered" style="width:1200px; color:black;" hidden>
                        <thead>
                            <tr class="text-center">
                                <th>ID Запись</th>
                                <th>Дата входа</th>
                                <th>Дата выхода</th>
                                <th>Помещение</th>
                                <th>Сотрудник</th>
                                <th>Тип турникета</th>
                                <th>Статус доступа</th>
                            </tr>
                        </thead>

                        @foreach (var data in Model.Entrances)
                        {
                            <tbody>
                                <tr class="text-md-start">

                                    <td>@data.IdRecord</td>
                                    <td>@data.DateEntr</td>
                                    <td>@data.DateExit</td>
                                    <td>@data.IdRooms.TitleRoom</td>
                                    <td>
                                        @data.IdStaffs.Surname @data.IdStaffs.Name @data.IdStaffs.LastName
                                    </td>
                                    <td>@data.IdDoors.TitleDoor</td>
                                    <td>@data.IdStatusS.TitleStatus</td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
                <div class="col-4">
                    <a class="btn btn-outline-dark" href="@Url.Action("Chart", "Cabinet")">Просмотр диаграммы посещаемости</a>
                </div>
                <div class="col-4">
                    <a class="btn btn-outline-dark" href="@Url.Action("Users", "Cabinet")">Просмотр пользователей сайта</a>
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-outline-dark" asp-controller="Cabinet" asp-action="EntranceReport">Скачать файл базы данных</button>
                </div>

            </div>
        </form>
    </div>


</body>
</html>
