@model EntranceControlWeb.Models.ChartViewModel;
@{
    ViewData["Title"] = "Cabinet";

}

<div class="container">
    <div class="row my-3">
        <h3 class="text-center"><strong>CИСТЕМА КОНТРОЛЯ ДОСТУПА</strong></h3>
        <h5 class="text-center">ПРОСМОТР ДИАГРАММЫ ПОСЕЩАЕМОСТИ</h5>
    </div>
    <div class="row my-3">
        <h6 class="text-center">ДИАГРАММА КОЛИЧЕСТВА ЧЕЛОВЕК В ДЕНЬ</h6>
        <div class="row mx-1">
            <form>
                <div class="card rounded m-3 shadow-lg mx-auto" style="width:1200px">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 text-center">
                                <label>Сотрудник:</label>
                            </div>
                            <div class="col-5">
                                @Html.DropDownListFor(x => x.IdPass, Model.StaffSelect, "All", new { @class = "form-control", data_val = false })
                            </div>
                            <div class="col-3 mx-auto">
                                <button type="submit" class="btn btn-outline-info">Показать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <canvas id="myChart" style="background-color: whitesmoke; border-radius: 8px; border-color: darkslategray; border-style: groove; "></canvas>
        <script>
                var dataStaff = @Json.Serialize(Model.Chart.Select(x => x.ID).ToList());
                var dataDays = @Json.Serialize(Model.Chart.Select(x => x.Count).ToList());

                const ctxx = document.getElementById('myChart').getContext('2d');
                const myCharts = new Chart(ctxx, {
                    type: 'bar',
                    data: {
                        labels: dataStaff,
                        datasets: [
                            {
                                label: 'Количество посещений',
                                backgroundColor: ['rgb(150, 204, 255)'],
                                borderColor: ['rgb(0, 145, 255)'],
                                borderWidth: 2,
                                tension: 0.2,
                                data: dataDays
                            }]
                    },
                    options: {
                        scales: {
                            x: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'День'
                                }
                            },
                            y: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Количество посещений'
                                }
                            }
                        }
                    }
                });
        </script>
    </div>
    <div class="row my-3">
        <h6 class="text-center">ДИАГРАММА КОЛИЧЕСТВА ПОСЕЩЕНИЙ ПО СОТРУДНИКАМ</h6>
        <canvas id="myChart1" style="background-color: whitesmoke; border-radius: 8px; border-color: darkslategray; border-style: groove; "></canvas>
        <script>
                var dataPass = @Json.Serialize(Model.Name.Select(y => y.Pass).ToList());
                var dataCount = @Json.Serialize(Model.Name.Select(y => y.Sum).ToList());

                const ctxy = document.getElementById('myChart1').getContext('2d');
                const myCharts1 = new Chart(ctxy, {
                    type: 'line',
                    data: {
                        labels: dataPass,
                        datasets: [
                            {
                                label: 'Количество посещений',
                                backgroundColor: ['rgb(79, 63, 191)'],
                                borderColor: ['rgb(41, 19, 192)'],
                                borderWidth: 2,
                                tension: 0.2,
                                data: dataCount
                            }]
                    },
                    options: {
                        scales: {
                            x: {
                                display: true,
                                title: {
                                    display: true,
                                    text: '№ пропуска'
                                }
                            },
                            y: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Количество посещений'
                                }
                            }
                        }
                    }
                });
        </script>
    </div>
</div>
