@model EntranceControlWeb.Models.ChartViewModel;
@{
    ViewData["Title"] = "Cabinet";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="/img/icon.ico" sizes="64x64" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/chart.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @*@await RenderSectionAsync("Scripts", required: false)*@
</head>
<body>
    <header>
        <nav class="navbar navbar-light sticky-top" style="background-color: #fbfeff">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-link text-primary">Аккаунт: @User.Identity.Name </a>
                }
                <a class="nav-link text-danger" asp-area="" asp-controller="Login" asp-action="LogOut">Выйти</a>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Навигация в системе</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Entrance">Доступ</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole(UserRole.Admin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Staff">Сотрудники</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Positions">Должности</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Offices">Отделы</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="SortByOff">Распределение по отделам</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Visitors">Посетители</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Rooms">Помещения</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Doors">Турникеты</a>
                                    </li>
                                    
                                }
                                else if (User.IsInRole(UserRole.SysAdmin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Staff">Сотрудники</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Positions">Должности</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Offices">Отделы</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="SortByOff">Распределение по отделам</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Visitors">Посетители</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Rooms">Помещения</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Doors">Турникеты</a>
                                    </li>
                                   
                                }
                            }
                        </ul>
                        <hr />
                        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole(UserRole.User.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Cabinet" asp-action="UserCab">Личный кабинет</a>
                                    </li>
                                }
                                else if (User.IsInRole(UserRole.Admin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Cabinet" asp-action="AdminCab">Личный кабинет</a>
                                    </li>
                                }
                                else if (User.IsInRole(UserRole.SysAdmin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Cabinet" asp-action="SysAdminCab">Личный кабинет</a>
                                    </li>
                                }
                            }

                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole(UserRole.User.ToString()))
                                {
                                    <li class="nav-item" style="position: relative; left: 950px">
                                        <a class="nav-link active" href="~/RukUser.pdf" target="_blank">Руководство пользователя</a>
                                    </li>
                                }
                                else if (User.IsInRole(UserRole.Admin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" href="~/RukAdmin.pdf" target="_blank">Руководство начальника</a>
                                    </li>
                                }
                                else if (User.IsInRole(UserRole.SysAdmin.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" href="~/RukSysAdmin.pdf" target="_blank">Руководство администратора</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Passes">Картотека пропусков</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="Home" asp-action="Dictionary">Редактировать справочники</a>
                                    </li>
                                }
                            }

                            <li class="nav-item">
                                <a class="nav-link active text-danger" asp-controller="Login" asp-action="LogOut">Выход</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row my-3">
            <h3 class="text-center"><strong>CИСТЕМА КОНТРОЛЯ ДОСТУПА</strong></h3>
            <h5 class="text-center">ПРОСМОТР ДИАГРАММЫ ПОСЕЩАЕМОСТИ</h5>
        </div>
        <div class="row my-3">
            <canvas id="myChart" style="background-color: whitesmoke; border-radius: 8px; border-color: darkslategray; border-style: groove; "></canvas>
            <script>
                var dataStaff = @Json.Serialize(Model.Chart.Select(x => x.ID).ToList());
                var dataDays = @Json.Serialize(Model.Chart.Select(x => x.Count).ToList());

                const ctxx = document.getElementById('myChart').getContext('2d');
                const myCharts = new Chart(ctxx, {
                    type: 'bar',
                    data: {
                        labels: dataStaff,
                        datasets: [
                            {
                                label: 'Количество посетителей',
                                backgroundColor: ['rgb(150, 204, 255)'],
                                borderColor: ['rgb(0, 145, 255)'],
                                borderWidth: 2,
                                tension: 0.2,
                                data: dataDays
                            }]
                    },
                    options: {
                        scales: {
                            x: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'День'
                                }
                            },
                            y: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Количество человек'
                                }
                            }
                        }
                    }
                });
            </script>


        </div>
        <div class="row my-3">
            <canvas id="myChart1" style="background-color: whitesmoke; border-radius: 8px; border-color: darkslategray; border-style: groove; "></canvas>
            <script>
                var dataPass = @Json.Serialize(Model.Chart.Select(y => y.ID).ToList());
                var dataCount = @Json.Serialize(Model.Chart.Select(y => y.Count).ToList());

                const ctxy = document.getElementById('myChart1').getContext('2d');
                const myCharts1 = new Chart(ctxy, {
                    type: 'line',
                    data: {
                        labels: dataPass,
                        datasets: [
                            {
                                label: 'Количество посещений',
                                backgroundColor: ['rgb(150, 204, 255)'],
                                borderColor: ['rgb(0, 145, 255)'],
                                borderWidth: 2,
                                tension: 0.2,
                                data: dataCount
                            }]
                    },
                    options: {
                        scales: {
                            x: {
                                display: true,
                                title: {
                                    display: true,
                                    text: '№ пропуска'
                                }
                            },
                            y: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Количество посещений'
                                }
                            }
                        }
                    }
                });
            </script>


        </div>
    </div>
</body>
</html>