@{
    ViewData["Title"] = "Cabinet";

}
<div class="container">
    <div class="row my-3">
        <h3 class="text-center"><strong>CИСТЕМА КОНТРОЛЯ ДОСТУПА</strong></h3>
        <h5 class="text-center">ЛИЧНЫЙ КАБИНЕТ АДМИНИСТРАТОРА</h5>
    </div>
    <div class="row my-2">
        @if (User.Identity.IsAuthenticated)
        {
            <p>
                Вы вошли под логином @User.Identity.Name.

            </p>
            <p>
                Роль на сайте: системный администратор.
            </p>
        }
    </div>
    <div class="row my-2">
        <div class="row col-10 mb-2 mx-auto">
            <a class="btn btn-outline-dark mx-auto" href="@Url.Action("Dictionary", "Home")">Редактировать справочные таблицы</a>
        </div>
        <div class="row col-10 mb-2 mx-auto">
            <a class="btn btn-outline-dark mx-auto" href="@Url.Action("NewUser", "Cabinet")">Добавить пользователя</a>
        </div>
        <div class="row col-10 mb-2 mx-auto">
            <a class="btn btn-outline-dark mx-auto" href="@Url.Action("WorkTime", "Cabinet")">Отчет о рабочем времени</a>
        </div>
        <div class="row col-10 mb-2 mx-auto">
            <a class="btn btn-outline-dark mx-auto" href="@Url.Action("Users", "Cabinet")">Просмотр пользователей сайта</a>
        </div>
        <div class="row col-10 mb-2 mx-auto">
            <a class="btn btn-outline-dark mx-auto" href="@Url.Action("EntranceReport", "Cabinet")">Скачать файлы базы данных</a>
        </div>

    </div>

</div>

