@model EntranceControlWeb.Models.AuthorizeViewModel;
@{
    ViewData["Title"] = "Cabinet";

}

<div class="container">
    <div class="row my-3">
        <h3 class="text-center"><strong>CИСТЕМА КОНТРОЛЯ ДОСТУПА</strong></h3>
        <h5 class="text-center">ПРОСМОТР ПОСЕТИТЕЛЕЙ САЙТА</h5>
    </div>
    <form>
        <div class="row my-3 mb-2 sticky-top">

            <div class="card rounded m-3 shadow-lg mx-auto" style="width:500px">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2 text-end">
                            <label>Email:</label>
                        </div>
                        <div class="col-6">
                            @Html.TextBox("Search", "", new { @class = "form-control", @placeholder = "Поиск" })
                        </div>
                        <div class="col-4 mx-auto">
                            <button type="submit" class="btn btn-outline-info">Поиск</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row my-3">
            <table class="table-dark table-bordered mx-auto" style="width:1200px; color:black;">
                <thead class="text-center">
                    <tr>
                        <th>
                            Email 
                        </th>
                        <th>
                            ФИО
                        </th>
                        <th>
                            Роль на сайте
                        </th>
                        <th>
                            Дата авторизации
                        </th>
                    </tr>
                </thead>
                @foreach (var data in Model.Authorizes)
                {
                    <tbody>
                        <tr>
                            <td>
                                @data.IdUsers.Email
                            </td>
                            <td>
                                @data.IdUsers.IdStaffs.Surname @data.IdUsers.IdStaffs.Name @data.IdUsers.IdStaffs.LastName
                            </td>
                            <td>
                                @data.IdUsers.UserRole
                            </td>
                            <td>
                                @data.DateAuth
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
        <div class="row my-3 ms-5">
            <div class="ms-5">
                <a href="@Url.Action("FilterReport", "Cabinet")" style="width:400px" class="btn btn-outline-dark mx-auto ms-5">Сохранить отчетный файл c фильтрацией</a>
                <a style="width:300px" class="btn btn-outline-dark mx-auto ms-3" href="@Url.Action("UserReport", "Cabinet")">Сохранить отчетный файл</a>
            </div>
        </div>
    </form>
</div>
